body {
    background-image: url(https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    margin: 0px;
}

img {
    position:fixed;
}

.flex-container {
    display: flex;
    justify-content: flex-end;   
}

.flex {
    background-color: aquamarine;
    border: 1px solid white;
    color: white;
    padding: 20px;
    width: 200px; 
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    gap: 15px;
    margin-top: 15px;
    /* justify-content: center;
    align-content: center; */

}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 201, 192, 0.473);
    color: white;
    border: 2px solid rgb(241, 236, 236);
    padding: 20px;
}

/* Targetting first grid item to take the whole width of teh row,  */
.grid1 {
    grid-column: 1/-1;
    grid-row: span 3;
}

.grid2{
    grid-row: span 2;
}

.grid3{
    grid-row: span 2;
}
.grid4{
    grid-row: span 2;
}
.grid5{
    grid-row: span 2;
    grid-column: span 2;
}

.grid6{
    grid-row:span 2;
}
