body {
    background-color: rgb(21, 122, 60);
    margin: 0px;
    font-family: 'Monserrat', sans-serif;
    /* Brings all the elements to the center */
    text-align: center;
}

form {
    background-color:rgb(255, 255, 255);
    margin: auto;
    padding: 30px;
    width: 300px;
    margin-top: 20px;
}

img {
    height: 200px;
    width: 300px;
}

div {
    margin: 20px 0px;
}

h1, h5 {
    margin: 10px;
}

